---
# 1. Installer Python3 et venv
- name: Installer Python3 venv et pip
  ansible.builtin.apt:
    name:
      - python3-venv
      - python3-pip
    state: present
    update_cache: yes
  become: yes

# 2. Créer le virtualenv pour Swift
- name: Créer virtualenv pour Swift
  ansible.builtin.command:
    cmd: python3 -m venv /home/ansible-boot/venv-swift
  args:
    creates: /home/devops-aya/venv-swift
  become: yes

# 3. Installer swiftclient dans le virtualenv
- name: Installer python-swiftclient dans le virtualenv
  ansible.builtin.pip:
    virtualenv: /home/ansible-boot/venv-swift
    name: python-swiftclient
    state: present
  become: yes
