# Installer Python3 et pip
- name: Installer Python3 venv, pip et virtualenv
  ansible.builtin.apt:
    name:
      - python3-venv
      - python3-pip
      - virtualenv
    state: present
    update_cache: yes
  become: yes

# Créer le virtualenv pour Swift
- name: Créer virtualenv pour Swift
  ansible.builtin.command:
    cmd: python3 -m venv /home/ansible-boot/venv-swift
  args:
    creates: /home/ansible-boot/venv-swift
  become: yes

# Installer swiftclient dans le virtualenv
- name: Installer python-swiftclient dans le virtualenv
  ansible.builtin.pip:
    virtualenv: /home/ansible-boot/venv-swift
    name: python-swiftclient
    state: present
  become: yes

