---
- name: Installer Docker  (docker.io)
  ansible.builtin.apt:
    name: docker.io
    state: present
  become: yes

- name: Ajouter l'utilisateur devops-aya au groupe docker
  ansible.builtin.user:
    name: devops-aya
    groups: docker
    append: true
  become: yes

- name: Ajouter ansible-boot au groupe docker
  ansible.builtin.user:
    name: ansible-boot
    groups: docker
    append: true
  become: yes
