---
- name: Mettre à jour la liste des paquets
  ansible.builtin.apt:
    update_cache: yes
  become: yes

- name: Installer Docker simple 
  ansible.builtin.apt:
    name: docker.io
    state: present
  become: yes

- name: Assurer que le service Docker est démarré et activé
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true
  become: yes

- name: Ajouter l'utilisateur devops-aya au groupe docker
  ansible.builtin.user:
    name: devops-aya
    groups: docker
    append: true
  become: yes
