- name: Déployer la machine CI complète
  hosts: machine-ci
  become: yes
  vars:
    github_repo: "ilyara-aya-elmafhoum/backend"
    github_token: "{{ lookup('env', 'GITHUB_TOKEN') }}"   
  roles:
    - java
    - github-runner
    - docker
    - swift
